<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TheEvent</title>
  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">
	<nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Anasayfa</a></li>
          <li><a href="#about">Hakkında</a></li>
          <li><a href="#speakers">Konuşmacılar</a></li>
          <li><a href="#schedule">Program</a></li>
          <li><a href="#gallery">Galeri</a></li>
          <li><a href="#supporters">Sponsor</a></li>
          <li><a href="#contact">İletişim</a></li>
          <li class="buy-tickets"><a href="#buy-tickets">BİLET AL</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Ulusal<br><span>SHIELD Siber Güvenlik</span> Konferansı</h1>
      <p class="mb-4 pb-0">10-12 AGUSTOS, Nazım Hikmet Kültür ve Sanat Merkezi, ANKARA</p>
      
      <a href="#about" class="about-btn scrollto">Etkinlik Hakkında</a>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>Hakkında</h2>
            <p>Innovera tarafından 6.’sı düzenlenen  Shield, bu yıl koronavirüs sebebiyle VShield adıyla sanal ortama taşındı. “Yeni Bir Dünyaya Uyanmak” temasıyla 10 ve 12 Agustos tarihlerinde düzenlenen konferans, 45’ten fazla oturum ile 70’ten fazla konuşmacıya ev sahipliği yaptı. VShield, Türkiye’nin ilk sanal siber güvenlik konferansı ve 2021’nin en kapsamlı siber güvenlik etkinliklerinden biriydi.</p>
          </div>
          <div class="col-lg-3">
            <h3>Nerede</h3>
            <p>Nazım Hikmet Kültür ve Sanat Merkezi, Ankara</p>
          </div>
          <div class="col-lg-3">
            <h3>Ne zaman</h3>
            <p>Salı - Persembe<br>10-12 Agustos</p>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Konuşmacılar</h2>
          
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
			<!-- img-fluid about speaker image -->
              <img src="img/speakers/agah.jpg" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Agah Ugur</a></h3>
                <p>Borusan Holding CEO</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/foto2.jpg" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Ali Rıza Ersoy</a></h3>
                <p>Siemens AŞ Genel Müdürü</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/foto3.jpg" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Batuhan Aydagül</a></h3>
                <p>Eğitim Reformu Girişimi (ERG) Direktörü</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/foto4.jpg" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Alper Hasanoğlu</a></h3>
                <p>Psikiyatrist, Psikoterapist, Yazar</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/foto5.jpg" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Bekir Ağırdır</a></h3>
                <p>KONDA Araştırma Genel Müdürü</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="img/speakers/foto6.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Erdem Aksakal</a></h3>
                <p>SAP Ortadoğu Pazarlama Direktörü</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Etkinlik Programı</h2>
         
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">1. Gün</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">2. Gün</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">3. Gün</a>
          </li>
          
        </ul>

        

        <div class="tab-content row justify-content-center">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

            

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:00 </time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/speakers/agah.jpg" ">
                </div>
                <h4>Agah Ugur</h4>
                <p>Sivil toplum kuruluşunun yönetim ve idaresi,şirket yönetimi.  </p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:00 </time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/speakers/foto2.jpg" ">
                </div>
                <h4>Ali Rıza Ersoy</h4>
                <p> IT Çözümleri ve Servisleri, Kurumsal Teknolojiler, Tedarik Zinciri Yönetimi, Şehirler ve Endüstri bölümleri hakkında.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>12:00 </time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/speakers/foto3.jpg" ">
                </div>
                <h4>Batuhan Aydagül</h4>
                <p>Eğitim Reformu Girişimi hakkında bilgilendirme ve Eğitim Politikaları analizi.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>13:00</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/speakers/foto4.jpg"">
                </div>
                <h4>Alper Hasanoğlu</h4>
                <p>‘Bireysel ve Organizasyonel Resilience’ eğitimleri. </p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>14:00 </time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/speakers/foto5.jpg" ">
                </div>
                <h4>Bekir Ağırdır</h4>
                <p>KONDA Araştırma şirketi misyonu ve TESEV ve TÜSES Vakıfları yapılanması hakkında bilgilendirme.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>15:00 </time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/speakers/foto6.jpg" ">
                </div>
                <h4>Erdem Aksakal</h4>
                <p> Dijital Pazarlama ve seminerler hakkında.</p>
              </div>
            </div>

          </div>
         

    </section>
    <!--==========================
      Buy Ticket Section
    ============================-->
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
         <h2>Bilet Almak için tıklayınız.</h2> 
		
        <p>Bilet id ile tüm konuşmacıların programına katılabilirsiniz.</p>
        </div>
	</div>
	</div>
</section>

    
    

  </main>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
</body>

</html>
